<?xml version="1.0" ?>
<launch>

  <arg name="camera_name"		default="realsense"/>
  <arg name="camera_width"		default="640"/>
  <arg name="camera_height"		default="480"/>
  <arg name="camera_frame"		default=""/>
  <arg name="manager"			default=""/>
  <arg name="publish_tf"		default="true"/>
  <arg name="subscribe_cloud"		default="false"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"			value="$(arg camera_name)"/>
    <arg name="tf_prefix"		value="$(arg camera_name)"/>
    <arg name="publish_tf"		value="$(arg publish_tf)"/>
    <arg name="enable_depth"		value="true"/>
    <arg name="enable_infra1"		value="false"/>
    <arg name="enable_infra2"		value="false"/>
    <arg name="enable_pointcloud"	value="$(arg subscribe_cloud)"/>
    <arg name="ordered_pc"		value="true"/>
    <arg name="align_depth"		value="true"/>
    <arg name="depth_width"		value="$(arg camera_width)"/>
    <arg name="depth_height"		value="$(arg camera_height)"/>
    <arg name="infra_width"		value="$(arg camera_width)"/>
    <arg name="infra_height"		value="$(arg camera_height)"/>
    <arg name="color_width"		value="$(arg camera_width)"/>
    <arg name="color_height"		value="$(arg camera_height)"/>
    <arg name="manager"			value="$(arg manager)"
	 unless="$(eval manager == '')"/>
  </include>

  <include file="$(dirname)/run.launch">
    <arg name="camera_info_topic"	value="$(arg camera_name
					       )/color/camera_info"/>
    <arg name="image_topic"		value="$(arg camera_name
					       )/color/image_raw"/>
    <arg name="depth_topic"
	 value="$(arg camera_name)/aligned_depth_to_color/image_raw"/>
    <arg name="cloud_topic"		value="$(arg camera_name
					       )/depth/color/points"/>
    <arg name="subscribe_cloud"		value="$(arg subscribe_cloud)"/>
    <arg name="manager"			value="$(arg camera_name
					       )/$(arg manager)"
	 unless="$(eval manager == '')"/>
  </include>

  <node name="$(anon rviz)" pkg="rviz" type="rviz" output="screen"
	args="-d $(dirname)/realsense.rviz"/>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

</launch>
